<a href="https://colab.research.google.com/github/kundyyy/CSV-Extension/blob/5.x/Solutions_Notebook_Python_for_Data_Science_Comments%2C_Variables_and_Printing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# Solutions Notebook: Python for Data Science - Comments, Variables and Printing

## 1. Comments

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1:</font> Single Line Comments

In [0]:
# This is a single line comment. We use the hash character to indicate the following single line content are comments.

score = 56

##### <font color="blue">Example 2:</font> Multiple Line Comments - Method 1

In [0]:
'''
This is a multiline comment. 
We use the delimiter characters to indicate that 
the following multi line content are comments.
'''

score = 53

##### <font color="blue">Example 3:</font> Multiple Line Comments - Method 2

In [0]:
# ---
# This is a multiline comment. 
# We can also use multiple hash characters to comment on 
# a block of content just as shown in this example.
# We will be using this method of commenting to 
# provide more information about the exercises and challenges within this course.
# ---

score = 53

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1:</font> Explain the following code using a single line comment.

In [0]:
# The following line assigns the value five to the variable tree.
tree = 5

##### <font color="green">Challenge 2:</font> Explain the following code using multiple line comments (using delimiters)

In [0]:
# The following line assigns the sum of 5 and 4 to the variable tree
tree = 5 + 4

##### <font color="green">Challenge 3: </font> Explain the following code using multiple line comments (Using Single line comments)

In [0]:
# The following line assigs the sum 
# of 5 and 5 to the variable tree
tree = 5 + 5

## 2. Variables

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [0]:
# Example 1
# ---
# Question: Assign the value 10 to the variable a.
# ---
# OUR CODE GOES BELOW
#

a = 10

##### <font color="blue">Example 2</font>

In [0]:
# Example 2
# ---
# Question: Assign the name Susan to the variable name.
# ---
# OUR CODE GOES BELOW
#

sister, brother = "Susan", "Paul"

##### <font color="blue">Example 3</font>

In [0]:
# Example 3
# ---
# Question: Assign the value ["one", 2, ["three"]] to the variable numbers
# ---
# OUR CODE GOES BELOW
#

numbers = ["one", 2, ["three"]]

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [0]:
# Challenge 1
# ---
# Question: Assign the your last name to the variable last_name.
# ---
# YOUR CODE GOES BELOW
#

last_name = "Mwangi"

# or 

last_name = 'Mwangi'

##### <font color="green">Challenge 2</font>

In [0]:
# Challenge 2
# ---
# Question: Assign your final highschool grade to the variable highschool_grade.
# ---
# YOUR CODE GOES BELOW
#

highschool_grade = "A"

# or 

highschool_grade = 'A'

##### <font color="green">Challenge 3</font>

In [0]:
# Challenge 3
# ---
# Question: Assign the dictionary { "brand": "Toyota", "model": "Wish", "year": 2005 } 
# to the variable cars.
# ---
# YOUR CODE GOES BELOW
#

cars = { "brand": "Toyota", "model": "Wish", "year": 2005 }

## 3. Printing

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [0]:
# Example 1
# ---
# Question: Printing the text hello in our output console
# ---
# OUR CODE GOES BELOW
#

print("Hello!")

##### <font color="blue">Example 2</font>

In [0]:
# Example 2
# ---
# Question: Printing the text Hello Valentine and putting a seperator.
# ---
# OUR CODE GOES BELOW
#

print("Hello", "Valentine!", sep=" ")

##### <font color="blue">Example 3</font>

In [0]:
# Example 3 
# ---
# Question: Printing the following dictionary colors = {'red', 'green', 'blue'}
# ---
# OUR CODE GOES BELOW
# 

colors = {'red', 'green', 'blue'}
colors

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [0]:
# Challenge 1
# ---
# Question: Using the print function print out your last name
# ---
# YOUR CODE GOES BELOW
# 

last_name = "Mwangi"
print(last_name) 

# or 

print("Mwangi")

##### <font color="green">Challenge 2</font>

In [0]:
# Challenge 2
# ---
# Question: Print out the your full names below seperated by spaces
# ---
# YOUR CODE GOES BELOW
# 

print("Valentine", "Mwangi", sep=" ")

# or 

print("Valentine" + " Mwangi")

##### <font color="green">Challenge 3</font>

In [0]:
# Challenge 3
# ---
# Question: Store the values 400 and "Employees" in the variables x and y 
# then print out these two variables.
# ---
# YOUR CODE GOES BELOW
# 

x, y = 400, "Employees"

print(x)
print(y)